In [1]:
y = 7

type(y)

int

In [2]:
y = 5.443
type(y)

float

In [3]:
y ='the main issue'

type(y)

str

In [ ]:
scenario 1
speedLimit = 35
speedAboveLimit = 10
numTicket = 2

In [ ]:
Scenario 2
dName = 'Barakat'
pName = 'James'
numDeer = 3
numHit = 2
numDied = 1
ticketType = 'dangerous driving'
numTicket = 1
roadType = 'feeway'

In [ ]:
# Operators
+ addition
- subtraction
* multiplication
== equivalent
// modulus
% remainder
+= complex addition
-= complex subtraction

In [4]:
debtorName = 'Nchedu'
creditorName = 'Lilian'
monthlySalary = 5000
rent = 700
food = 500
uBills = 300
debt = 2000
percDedtPayOff = 0.6

In [6]:
mExpenses = rent + food + uBills
debtPaid = debt * percDedtPayOff 
print(mExpenses)
print(debtPaid)

1500
1200.0

In [8]:
savings = (monthlySalary - (mExpenses + debtPaid ))
print(savings)

2300.0

In [13]:
#Scenario 4

numOranges = 500
numFriends = 7

val1 = numOranges // numFriends
val2 = numOranges % numFriends

print(val1)
print(val2)

71
3

In [14]:
myList = ['Jerry', 'Musa', 'James']
myList[0]

'Jerry'

In [15]:
print (myList[0], myList[2])

Jerry James

In [16]:
myList[-1]

'James'

In [18]:
myList[0:2]

['Jerry', 'Musa']

In [20]:
#Scenario 5
ageJames = 35
ageMary = 30
kid1 = 3
kid2 = 6
kid3 = 6
kid4 = 11
adultAge = 18
ageList = [ageJames, ageMary, kid1, kid2, kid3, kid4]

In [21]:
for age in ageList:
    print (age)

35
30
3
6
6
11

In [25]:
for age in ageList:
    print ('entering the list to get the member of age ')
    print (age)
    print ('with index number')
    print (ageList.index(age))
    
    print ('done with this member age, going for another')

entering the list to get the member of age
35
with index number
0
done with this member age, going for another
entering the list to get the member of age
30
with index number
1
done with this member age, going for another
entering the list to get the member of age
3
with index number
2
done with this member age, going for another
entering the list to get the member of age
6
with index number
3
done with this member age, going for another
entering the list to get the member of age
6
with index number
3
done with this member age, going for another
entering the list to get the member of age
11
with index number
5
done with this member age, going for another

In [27]:
for memberAge in ageList:
    if memberAge > adultAge:
        print ('member at index position: ', ageList.index(memberAge), 'is an adult')
    else:
        print ('member at index posotion: ', ageList.index(memberAge), 'is  not an adult')

member at index position:  0 is an adult
member at index position:  1 is an adult
member at index posotion:  2 is  not an adult
member at index posotion:  3 is  not an adult
member at index posotion:  3 is  not an adult
member at index posotion:  5 is  not an adult

In [2]:
y = 7

type(y)

int

In [3]:
y = 7.5
type(y)

float

In [4]:
y = 'hiwnwn1'
type(y)

str

In [ ]:
naming covention = camel case and snake case

In [ ]:
Scenario 1
A police man tickets a driver for going 10kph above the speed limit.
If the speed limit was 35kph and the driver recieved 2 tickets, reduce this to variables

In [ ]:
speedLimit = 35 #in KM
speedAbovr = 10 #in kilometer
numTickets = 2

In [ ]:
Scenario 2
A driver name Barakat was driving on the free way when she noticed three deers are crossing the road.
She hit two of them and one died at the spot. A police name James wa near her and ticket her for dangerous driving
Reduce to code

In [ ]:
dName = 'Barakat'
numBeers = 3
numHit = 2
numDied = 1
pName = 'James'
numTicket = 1
ticketType = 'Dangerous Driving'
roadType = 'Free way'

In [ ]:
# operators
+ addition
- subtraction
* multiplication
/ divition 
== equvalent
// modulus
% remainder 
+= complex addition 
-+ complex subtraction

In [ ]:
Scenario 3
Nchedu works in an IT firm and she earns $5000 a month. 
her rent is $700, food is $500, she owes Lilian $2000, and her utility bills for each month is $300.
If Lilia instist on getting 60% of what is owed her, how much will Nchedu have at the end of the month

In [6]:
mSalary = 5000
uBills = 300
rent = 700
food = 500
debt = 2000
percDebtPayOff = 0.6

monthlyBill = (uBills + food + rent)
debtPaid = (percDebtPayOff * debt)

savings = (mSalary - (monthlyBill + debtPaid))
print(savings)

2300.0

In [ ]:
Scenario 4
Agatha has five hundred Oranges and will like to distribute them to her friends 
If Agatha has 7 friends, how many oranges will remain after she shares them ?

In [7]:
500%7

3

In [8]:
500//7

71

In [9]:
myList = ['Jerry', 'Abu', 'Iyanu']

myList[0]

'Jerry'

In [10]:
(myList[1], myList[2])

('Abu', 'Iyanu')

In [11]:
myList = [2,3,4,7,8]
myList[-1]

8

In [13]:
myList[1:4]

[3, 4, 7]

In [ ]:
Scenario 5
James is aged 35 and his spouse Mary is 30 years old. they have 4 kids aged 3,6,6,11
Task: check to see if any memeber of James family is an adult (adult starts at 18)

In [18]:
ageJames = 25
ageMary = 30
kid1 = 3
kid2 = 6
kid3 = 6
kid4 = 11

adultAge = 18

ageList = [ageJames, ageMary, kid1, kid2, kid3, kid4]

for age in ageList:
    print(age)

25
30
3
6
6
11

In [19]:
for age in ageList:
    print('entering to go grab one of the ages')
    print(age)
    print('with index number')
    print(ageList.index(age))
    print('done with the member age, going for the next')

entering to go grab one of the ages
25
with index number
0
done with the member age, going for the next
entering to go grab one of the ages
30
with index number
1
done with the member age, going for the next
entering to go grab one of the ages
3
with index number
2
done with the member age, going for the next
entering to go grab one of the ages
6
with index number
3
done with the member age, going for the next
entering to go grab one of the ages
6
with index number
3
done with the member age, going for the next
entering to go grab one of the ages
11
with index number
5
done with the member age, going for the next

In [21]:
for memberAge in ageList:
    if memberAge > adultAge:
        print ('member at index position: ', ageList.index(memberAge), 'is an adult')
    else:
        print ('member at index posotion: ', ageList.index(memberAge), 'is  not an adult')

member at index position:  0 is an adult
member at index position:  1 is an adult
member at index posotion:  2 is  not an adult
member at index posotion:  3 is  not an adult
member at index posotion:  3 is  not an adult
member at index posotion:  5 is  not an adult

# Strings

In [ ]:
Strings are categorical characters

In [ ]:
Scenario:
    James has 4 friends named  Agatha, Terry, Badu and Efe. 
    Their ages are 23,32,31 and 20. James wants to store information about each 
    of them  to reflect who owes and who owe him. 
    Efe and Badu are his debtors while Agatha is his creditor

In [23]:
friend1 = 'Agatha'
friend2 = 'Terry'
friend3 = 'Badu'
friend4 = 'Efe'

friend1Age = 23
friend2Age = 32
friend3Age = 31
friend4Age = 20 

friend1Status = 'creditor'
friend2Status = ''
friend3Status = 'debtor'
friend4Status = 'debtor'

friendList = [friend1, friend2, friend3, friend4]
ageList = [23, 32, 31, 20]
status = ['creditor', '', 'debtor', 'debtor']

import pandas as pd 
df = pd.DataFrame()
df ['Friend Name'] = friendList
df ['Age'] = ageList
df ['Status'] = status

df

  Friend Name  Age    Status
0      Agatha   23  creditor
1       Terry   32
2        Badu   31    debtor
3         Efe   20    debtor

In [28]:
text1 = 'simply dummy text of the scum printing and typesetting Damn. Lorem Ipsum has niggar the industry'

vulgarWords = ['scum', 'Damn', 'niggar']

for word in vulgarWords:
    if word in text1:
        idx = vulgarWords.index(word)
        print('{} is a vulgar word found in index position {}'.format(word,idx))

scum is a vulgar word found in index position 0
Damn is a vulgar word found in index position 1
niggar is a vulgar word found in index position 2