# Variable

In [ ]:
int is any whole number 1,2 12132

float is any number with a decimal place 2.0, 3.4, 7.881

string is a name of any object or disciptor, text = "Obi"

In [1]:
y = 7

type(y)

int

In [2]:
y = 7.05

type(y)

float

In [3]:
y = "1222f"

type(y)

str

In [ ]:
Rules for Variabe names 

1. dont start a variable name with a number 
2. dont use any of the reserve words in python e.g class , False
3. Always use meaning names for your variables e.g x = Agatha is wrong but studentName = Agatha
4. Stick to a naming convention for your variables e.g camel case, snake case
    Camel case = name = 'Jane', studentName = 'Agatha', numOfApples = 7
    snake case = name = 'Jane', student_name = 'Agatha', num_of_apples = 7

In [ ]:
Scenario 1
A police man tickets a driver for going 10kph above the speed limit.
If the speed limit was 35kph and the driver recieved 2 tickets, reduce this to variables

In [ ]:
speedLimit = 35 # in kph
speedAboveLimit = 10 # in kph
numTickets = 2

In [ ]:
Scenario 2
A driver name Barakat was driving on the free way when she noticed three deers are crossing the road.
She hit two of them and one died at the spot. A police name James wa near her and ticket her for dangerous driving
Reduce to code

In [ ]:
dName = 'Barakat'
pName = 'James'
numDeers = 3
numHit = 2
numDied = 1
ticketType 'dangerous driving'
numTickets = 1
roadType = 'freeway'

In [ ]:
# Python Expressions

In [ ]:
 # Operators 
+ # addition
- # subtraction 
* # multiplication 
/ # Division
== # equvalent 
// # modulus
% # remainder
+= # complex addition
-= # complex subtraction

In [ ]:
Scenario 3
chedu works in an IT firm and she earns $5000 a month. 
her rent is $700, food is $500, she owes Lilian $2000, and her utility bills for each month is $300.
If Lilia instist on getting 60% of what is owed her, how much will Nchedu have at the end of the month

In [1]:
debtorName = 'Nchedu'
cerditorName = 'Lilian'
monthlySal = 5000
rent =  700
food = 500
uBills = 300
debt = 2000
percDeptPayOff = 0.6

In [2]:
mExpense = rent + food + uBills
debtPaid = debt * percDeptPayOff
print(mExpense)
print(debtPaid)

1500
1200.0

In [3]:
savings = (monthlySal - (mExpense + debtPaid )) 
print(savings)

2300.0

In [ ]:
Scenario 4
Agatha has five Oranges and will like to distribute them to her friends 
If Agatha has 7 friends, how may oranges will remain after she shares them ?

In [1]:
numOranges = 500
numFrinds = 7

val1 = numOranges//numFrinds
val2 = numOranges%numFrinds

print(val1)
print(val2)

71
3

In [ ]:
# a container is a type of variable that can hold multiple values or items each seperated by a comma,
# we can access any  item inside a container using thier index position. index position starts from 0

In [1]:
myList = ['Jerry', 'James', 'Iyanu']
myList[0]

'Jerry'

In [2]:
(myList[0], myList[2])

('Jerry', 'Iyanu')

In [3]:
myList = [22,33,34,44, 56, 77]
myList[-1]

77

In [4]:
myList[2:5]

[34, 44, 56]

In [ ]:
Scenario 5
James is aged 35 and his spouse Mary is 30 years old. they have 4 kids aged 3,6,6,11
Task: check to see if any memeber of James family is an adult (adult starts at 18)

In [5]:
ageJames = 35
ageMary = 30
kid1 = 3
kid2 = 6
kid3 = 6
kid4 = 11
adultAge = 18

In [6]:
ageJames == adultAge # we use the == sign to compare two values

False

In [7]:
ageList = [ageJames, ageMary, kid1, kid2, kid3, kid4,]
print(ageList[0])
print(ageList[1])
print(ageList[2])
print(ageList[3])
print(ageList[4])
print(ageList[5])

35
30
3
6
6
11

In [8]:
for age in ageList:
    print(age)

35
30
3
6
6
11

In [9]:
for age in ageList:
    print('entering the list to grab a members age')
    print(age) # rpinting items currently grabbed from a list
    
    print(ageList.index(age)) # asking python to tell me the index possition of the item it just grabbed from the list
    
    print('done with this member age, going for another')

entering the list to grab a members age
35
0
done with this member age, going for another
entering the list to grab a members age
30
1
done with this member age, going for another
entering the list to grab a members age
3
2
done with this member age, going for another
entering the list to grab a members age
6
3
done with this member age, going for another
entering the list to grab a members age
6
3
done with this member age, going for another
entering the list to grab a members age
11
5
done with this member age, going for another

In [10]:
for memberAge in ageList:
    if memberAge > adultAge:
        print ('member at index position: ', ageList.index(memberAge), 'is an adult')
    else:
        print('member at index position: ', ageList.index(memberAge), 'is an adult')

member at index position:  0 is an adult
member at index position:  1 is an adult
member at index position:  2 is an adult
member at index position:  3 is an adult
member at index position:  3 is an adult
member at index position:  5 is an adult