# Strings Conditional Statements For Loops

# Strings

In [ ]:
#Strings are python objects. Non-numeric actually categorical  charaters

In [9]:
#Examples of Strings 


studName1 = 'Otiasah David'

In [ ]:
Scenario:
    James has 4 friends named  Agatha, Terry, Badu and Efe. 
    Their ages are 23,32,31 and 20. James wants to store information about each 
    of them  to reflect who whe owes and who owe him. 
    Efe and Badu are his debtors while Agatha is his creditor

In [ ]:
friend1 = 'Agatha'
friend2 = 'Terry'
friend3 = 'Badu'
friend4 = 'Efe'

friend1Age = 23
friend2Age = 32
friend3Age = 31
friend4Age = 20 

friend1Status = 'creditor'
friend2Status = ''
friend3Status = 'debtor'
friend4Status = 'debtor'

In [ ]:
friend1 = 'Agatha'
friend2 = 'Terry'
friend3 = 'Badu'
friend4 = 'Efe'

friend1Age = 23
friend2Age = 32
friend3Age = 31
friend4Age = 20 

friend1Status = 'creditor'
friend2Status = ''
friend3Status = 'debtor'
friend4Status = 'debtor'


friendsList = [friend1, friend2,friend3,friend4]
ageList = [23,32,31,20]
Status = ['creditor', '','debtor', 'debtor']

import pandas as pd  

df = pd.DataFrame()
df['friend name'] = friendsList
df['Age'] =ageList
df['Status'] = Status

df

In [ ]:
## String Operations 

name = 'Kuburat Amodu-Ode'

# python assigns index positions to each charater in the string starting from zero

In [7]:
myName = 'Sarah' # indexing goes from 0 to 4

In [8]:
# to get the character at the first index position

myName[0]

'S'

In [9]:
# to get a substring from a string, use the index postion of the first and last character 
# AWLAYS move 1 index position after the last character to return
myName[0:3]

'Sar'

In [10]:
#'ara' from Sarah

myName[1:4]

'ara'

In [11]:
name = 'Levi'
type(name)
name[1:3]

'ev'

In [12]:
#  to get the last character in a string, use -1  

name[-1]

'i'

In [13]:
name = 'Kuburat Amodu-Ode'

name[8:13]

'Amodu'

In [14]:
name[-3:-1]

'Od'

In [15]:
name[14:-1]

'Od'

In [16]:
name[-3:]

'Ode'

In [17]:
name[14:50]

'Ode'

In [18]:
text1 = 'simply dummy text of the scum printing and typesetting Damn. Lorem Ipsum has niggar the industry'


text1.index('Lorem')

61

In [19]:
text1 = 'simply dummy text of the scum printing and typesetting Damn. Lorem Ipsum has niggar the industry'


#Goal: find vulger words in a sentence or text
vulgarWords = ['scum', 'Damn', 'niggar']

for word in vulgarWords:
    if word in text1:
        idx = text1.index(word)
        #print(f'{word} is a vulgar word fround in index poistion {idx}') # string formating
        print('{} is a vulgar word fround in index poistion {}'.format(word,idx)) # string formating

scum is a vulgar word fround in index poistion 25
Damn is a vulgar word fround in index poistion 55
niggar is a vulgar word fround in index poistion 77

In [20]:
fName = 'Anas'
lName = 'Rabiu'

#Task:  generate  'Anas Rabiu'

fullname = fName + ' '+ lName

print(fullname)

Anas Rabiu

In [21]:
# String Splitting 

address = '125 james Avenue Lusaka Zambia'

print(address)

# Splitting the string 

address.split(' ')

125 james Avenue Lusaka Zambia

['125', 'james', 'Avenue', 'Lusaka', 'Zambia']

In [22]:
Kname = 'Kuburat Amodu-Ode'

print(Kname.split(' ')[0])

Kuburat

In [23]:
Kname = 'Kuburat Amodu-Ode' # variable with full name  

nameparts = Kname.split(' ') # splitting the string to get individual words in a list seperated by commas

print(nameparts)

['Kuburat', 'Amodu-Ode']

In [24]:
nameparts[1]

'Amodu-Ode'

In [25]:
studID = 'Jerry_Madu_0787655'
#Task: obtain the students ID number 0787655 from the string using the splitting method

In [26]:
print(studID.split('_')[2])

0787655

In [27]:
kName = 'Kuburat Amodu-Ode'

print(kName.split(' ')[1].split('-'))

['Amodu', 'Ode']

# Conditional Statement

In [ ]:
These are Booleans that evaluate to True or false 
We can start the evaluation using an IF statement

In [31]:
davidAge = 32
philipAge = 35

In [32]:
# checking to see if both ages are the same  ( Always use the == operator)

davidAge == philipAge

False

In [ ]:
if davidAge == philipAge: #This evaluates if the condition is True
    code to execute if condition is true
else:
    code to execute if condition is false

In [34]:
davidAge = 32
philipAge = 32

if davidAge == philipAge:  
    print('both david and philip have the same age')
else:
    print('Davids age is different from that of Philip')

both david and philip have the same age

In [35]:
davidAge = 40
philipAge = 40

if davidAge > philipAge:  
    print('david is older than philip')

else:
    print('David is younger than  Philip')

David is younger than  Philip

In [36]:
davidAge = 40
philipAge = 40

if davidAge > philipAge:  
    print('david is older than philip')
elif davidAge == philipAge:
    print('their ages are thesame')
else:
    print('David is younger than  Philip')

their ages are thesame

In [37]:
davidAge = 40
philipAge = 40
jerryAge = 40  

if jerryAge > davidAge:
    print('jerry and david are at least agemates')
elif jerryAge > philipAge:
    print('jerry is older than philip')
elif jerryAge == davidAge and davidAge == philipAge:
    print('they are all agemates')
else:
    print('they have different ages')

they are all agemates

In [38]:
scores = [56, 70, 30, 98, 77, 69]

aGrade = 'A'
bGrade = 'B'
cGrade = 'C'
fGrade = 'F'

statusP = 'Pass'
statusF = 'Fail'

# Lists Containers

In [ ]:
# Lists are a type of containers that can hold multiple items in it each seperated by a comma 

List is denoted by a square bracket  

example - an empty list   

myList = []


A list with three items in it  

my List = [2, 'James', 'Agatha']

In [3]:
list1 = ['orange', 'banana', 'apple']

for item in list1:
    print(item)

orange
banana
apple

In [4]:
list1 = ['orange', 'banana', 'apple']

for fruit in list1:
    print('going to the container to pick an item')
    print('item picked is: ', fruit)
    print('assiging the picked item to the variable fruit')
    print(' the index position of the fruite i picked from the container is', list1.index(fruit))
   
    print('done with this item, going for another one')
    print('###########################')

going to the container to pick an item
item picked is:  orange
assiging the picked item to the variable fruit
 the index position of the fruite i picked from the container is 0
done with this item, going for another one
###########################
going to the container to pick an item
item picked is:  banana
assiging the picked item to the variable fruit
 the index position of the fruite i picked from the container is 1
done with this item, going for another one
###########################
going to the container to pick an item
item picked is:  apple
assiging the picked item to the variable fruit
 the index position of the fruite i picked from the container is 2
done with this item, going for another one
###########################

In [5]:
list1 =  ['orange', 'coco nut','banana', 'apple']

for fruit in list1:
    if fruit == 'orange':
        print('I hate this fruit')
    elif fruit in ['banana', 'apple', 'Kiwi','paw paw', 'water melon']:
        print('this is to die for')
    else:
        print('this fruit is new')

I hate this fruit
this fruit is new
this is to die for
this is to die for

In [ ]:
# Task:  assign students a grade based on their exam score and assign pass or fail based on their grade

In [6]:
students = ['Efe', 'Semako', 'Titi', 'Femi', 'Ada','Sarah']
scores = [50, 70, 30, 50, 49, 49]

aGrade = 'A' # score > 85
bGrade = 'B' # score >75
cGrade = 'C' # score > 50
fGrade = 'F' # < 50

statusP = 'Pass' # if A, B
statusR = 'Repeat' # if C
statusF = 'Fail' # F

In [7]:
# introduction to the zip() function 
#we can use the zip() function to loop through the contents of two or more lists at the same time

for student, score in zip(students,scores ): # showing off the zip function
    print(student, score)

Efe 50
Semako 70
Titi 30
Femi 50
Ada 49
Sarah 49

In [8]:
for student, score in zip(students,scores ): # showing off the zip function

    if score >=85:
        grade = aGrade
    elif score >=75:
        grade = bGrade
    elif score >= 50:
        grade = cGrade
    elif score < 50:
        grade = fGrade
    else:
        print('score unkown')
    
    
    if grade in [aGrade, bGrade]:
        status = 'Pass'
    elif grade == cGrade:
        status = 'Repeat'
    else:
        status = 'Fail'
    print(student, grade, status)

Efe C Repeat
Semako C Repeat
Titi F Fail
Femi C Repeat
Ada F Fail
Sarah F Fail

In [2]:
studList = []
gradeList = []
statusList = []
for student, score in zip(students,scores ): # showing off the zip function

    if score >=85:
        grade = aGrade
    elif score >=75:
        grade = bGrade
    elif score >= 50:
        grade = cGrade
    elif score < 50:
        grade = fGrade
    else:
        print('score unkown')
    
    
    if grade in [aGrade, bGrade]:
        status = 'Pass'
    elif grade == cGrade:
        status = 'Repeat'
    else:
        status = 'Fail'
    
    studList.append(student)
    gradeList.append(grade) 
    statusList.append(status)

print(studList, gradeList, statusList)

NameError: name 'students' is not defined

In [1]:
# Putting results in a table  

import pandas as pd 

#Create an empty table (dataframeabs)

table = pd.DataFrame() # empty table


# adding columns to the table and assigning values to the coulmns 
table['name'] = studList
table['grade'] = gradeList
table['status'] = statusList

print(table)
# Saving the table to an excel file
table.to_excel('C:/Users/DELL/Documents/development/projects/pythonbasics/pythonbasics/Table.xls')

NameError: name 'studList' is not defined

In [47]:
table

     name grade  status
0     Efe     C  Repeat
1  Semako     C  Repeat
2    Titi     F    Fail
3    Femi     C  Repeat
4     Ada     F    Fail
5   Sarah     F    Fail