String Formatting

Formatting with placeholders
You can use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [1]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [3]:
print ("I an going to inject %s text here, and %s text here." %('some', 'more'))

I an going to inject some text here, and more text here.

In [4]:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

In [5]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [1]:
print('I once caught a fish %s.' %'this \tbig') #\t inserts a tab into a string.
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [4]:
print("I wrote %s programs today." %3.75)
print ("I wrote %d programs today." %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

The %s operator converts whatever it sees into a string, including integers and floats.
The %d operator converts numbers to integers first, without rounding. Note the difference below:

In [5]:
print('Floating point number: %5.2f' %(13.144)) #formating to 2 decimal places

Floating point number: 13.14

In [6]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [7]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [8]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [9]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

Multiple Formatting

In [1]:
print ("first %s, second: %5.2f, third: %r" %('hi!',3.4222, 'bye!'))

first hi!, second:  3.42, third: 'bye!'

Formatting with the .format() method

In [2]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [3]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [4]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [5]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [6]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     13.58

Formatted String Literals (f-strings)

In [7]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

In [8]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

In [14]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

In [29]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{8}.{4}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.45

In [30]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500