# for Loops

In [ ]:
A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item.
Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables
for dictionaries, such as keys or values.

In [1]:
list1 = [1,2,3,4,5,6,7,8,9]

for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9

In [2]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8

In [4]:
for num in list1:
    if num % 2 == 0:
        print(f'{num} is an even number')
    else:
        print(f'{num} is an odd number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

In [5]:
listSum = 0

for num in list1:
    listSum = listSum + num
    print(listSum)

1
3
6
10
15
21
28
36
45

In [6]:
listSum = 0

for num in list1:
    listSum = listSum + num
print(listSum) # notice the position of the print and the result

45

In [8]:
listSum = 0
for num in list1:
    listSum += num
    
print(listSum)

45

In [10]:
for letter in 'this UK is real':
    print(letter)

t
h
i
s

U
K

i
s

r
e
a
l

In [11]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [12]:
list2 = [(1,2), (3,4), (5,6)]
for tup in list2:
    print (tup)

(1, 2)
(3, 4)
(5, 6)

In [13]:
for (t1,t2) in list2:
    print(t1)

1
3
5

In [14]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [15]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [16]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [17]:
list(d.keys()) #If you want to obtain a true list of keys, values, or key/value tuples, you can cast the view as a list

['k1', 'k2', 'k3']

In [18]:
sorted(d.values()) #You can obtain a sorted list using sorted():

[1, 2, 3]