# Useful Operators

Range

In [1]:
list(range(0,11)) # just like slice notation notice how 11 is not included

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
list(range(0,91,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Enumerate

In [12]:
indexCount = 0

for letter in 'vwxyz':
    print('at index {} the letter is {}'.format(indexCount,letter))
    indexCount +=1

at index 0 the letter is v
at index 1 the letter is w
at index 2 the letter is x
at index 3 the letter is y
at index 4 the letter is z

In [14]:
# now using enumerate it will be like 

for indexCount,letter in enumerate('abcde'):
    print ('at index {} the letter is {}'.format(indexCount,letter))

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

Zip

In [15]:
myList1 = [1,2,3,4]
myList2 = ['a','b','c','d']

list(zip(myList1,myList2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [17]:
for item1, item2 in zip(myList1,myList2):
    print('for this tuple, the first item was {} and the second was {}'.format(item1,item2))

for this tuple, the first item was 1 and the second was a
for this tuple, the first item was 2 and the second was b
for this tuple, the first item was 3 and the second was c
for this tuple, the first item was 4 and the second was d

in operator

In [18]:
'y' in ['x', 'y', 'z']

True

In [19]:
'y' in [1,2,3,]

False

not in

In [20]:
'y' not in ['x','y','z']

False

In [21]:
'y' not in [1,2,3]

True

min and max

In [22]:
myList = [30,40,60,70,]

min(myList)

30

In [23]:
max(myList)

70

random

In [ ]:
Python comes with a built in random library

In [27]:
from random import shuffle

shuffle(myList)

In [28]:
myList

[40, 70, 60, 30]

In [29]:
myList

[40, 70, 60, 30]

In [30]:
from random import randint # to return random integer

randint(0,20)

4

In [31]:
randint(0,20)

12

In [32]:
randint(0,20)

7

input

In [36]:
input('what is your name ?')

what is your name ?Mulapshak Seth Goyol

'Mulapshak Seth Goyol'